version: '3'
services:
  fluentd:
    build:
      context: .
    image: chatwork/fluentd
  sut:
    image: chatwork/dgoss:latest
    environment:
      GOSS_FILES_PATH: /goss
      GOSS_FILES_STRATEGY: cp
    entrypoint: ""
    command: /usr/local/bin/dgoss run --entrypoint tail chatwork/fluentd -f /dev/null
    container_name: fluentd
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - fluentd
