version: 2.1

executors:
  arm64:
    machine:
      image: ubuntu-2204:2024.01.1
      # The same volume is set for amd64 and arm64.
      # see https://circleci.com/docs/2.0/docker-layer-caching/
      docker_layer_caching: false
    resource_class: arm.medium
  x86_64:
    machine:
      image: ubuntu-2204:2024.01.1
      # The same volume is set for amd64 and arm64.
      # see https://circleci.com/docs/2.0/docker-layer-caching/
      docker_layer_caching: false
    resource_class: large

jobs:
  test:
    parameters:
      arch:
        type: executor
    executor: << parameters.arch >>
    environment:
      - CIRCLECI_WORKSPACE: /home/circleci/project
    steps:
      - checkout
      - run: docker version
      - run:
          name: Install buildx
          command: |
            docker buildx install
            docker run --privileged --rm tonistiigi/binfmt:qemu-v7.0.0-28 --install "$BUILDX_PLATFORMS"
            docker buildx create --name malti-arch --use
            docker buildx ls
      - run: make ci:diff
      - run:
          command: |
            ARCH=`make arch`
            EXTENSION=`make extension`

            make ci:diff | while read DIR; do
              cd ${CIRCLECI_WORKSPACE}/${DIR}
              if find . -type l -o -type f -name "Dockerfile${EXTENSION}" | grep Dockerfile ; then
                make build;
                make test;
              else
                echo "${DIR} is ${ARCH} not supported. make build & make test was skipped.";
              fi
            done

      - run:
          name: Notification failed
          command: |
            if [ "${CIRCLE_PR_USERNAME}" == "cw-circleci" ]; then
              make ci:notify -e TITLE="CircleCI: Failed to CI of PR created by automatic update of dependency (devil) arch: $(make arch)" \
                        -e BODY="${CIRCLE_PULL_REQUEST}";
            fi
          when: on_fail

  push:
    parameters:
      arch:
        type: executor
        default: x86_64
    executor: << parameters.arch >>
    environment:
        - CIRCLECI_WORKSPACE: /home/circleci/project
        - BUILDX_PLATFORMS: linux/amd64,linux/arm64
        - DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - checkout
      - run: docker version
      - run: docker login -u="${DOCKER_REGISTRY_USERNAME}" -p="${DOCKER_REGISTRY_PASSWORD}"
      - run:
          name: Install buildx
          command: |
            docker buildx install
            docker run --privileged --rm tonistiigi/binfmt:qemu-v7.0.0-28 --install "$BUILDX_PLATFORMS"
            docker buildx create --name malti-arch --use
            docker buildx ls
      - run: make ci:diff
      - run:
          name: build Dockerfile
          command: |
            ARCH=`make arch`
            EXTENSION=`make extension`

            make ci:diff | while read DIR; do
              cd ${CIRCLECI_WORKSPACE}/${DIR}
              if find . -type l -o -type f -name "Dockerfile${EXTENSION}" | grep Dockerfile ; then
                make build;
              else
                echo "${DIR} is ${ARCH} not supported. make build & make test was skipped.";
              fi
            done
      - run:
          name: push Docker Image
          command: |
            ARCH=`make arch`
            EXTENSION=`make extension`

            make ci:diff | while read DIR; do
              cd ${CIRCLECI_WORKSPACE}/${DIR}
              if find . -type l -o -type f -name "Dockerfile${EXTENSION}" | grep Dockerfile ; then
                make push;
              else
                echo "${DIR} is ${ARCH} not supported. make push was skipped.";
              fi
            done

      - run:
          name: notification failed
          command: |
            ARCH=`make arch`
            EXTENSION=`make extension`

            make ci:diff | while read DIR; do
              if find ./${DIR} -type l -o -type f -name "Dockerfile${EXTENSION}" | grep Dockerfile ; then
                make ci:notify -e TITLE="CircleCI: Failed push chatwork/${DIR} arch: $(make arch) (devil)" \
                               -e BODY="$(git log -1 --pretty=format:"%h - %an : %s" ${CIRCLE_BRANCH})";
              else
                echo "chatwork/${DIR} is ${ARCH} not supported. docker push was skipped.";
              fi
            done
          when: on_fail
      - run:
          name: notification success
          command: |
            ARCH=`make arch`
            EXTENSION=`make extension`

            make ci:diff | while read DIR; do
              if find ./${DIR} -type l -o -type f -name "Dockerfile${EXTENSION}" | grep Dockerfile ; then
                version=$(docker inspect -f {{.Config.Labels.version}} chatwork/${DIR});
                echo "version: ${version}"
                changelog=$(make ci:changelog -e DIR="${DIR}/");
                echo "changelog: ${changelog}"
                make ci:notify -e TITLE="Release chatwork/${DIR}:${version} arch: $(make arch) (gogo)" \
                                              -e BODY="$(echo -e "changelog\n${changelog}")";
             else
               echo "chatwork/${DIR} is ${ARCH} not supported. docker push was skipped.";
             fi
            done
          when: on_success

  manifest:
    parameters:
      arch:
        type: executor
        default: x86_64
    executor: << parameters.arch >>
    environment:
      - CIRCLECI_WORKSPACE: /home/circleci/project
      - DOCKER_BUILDKIT: 1
    steps:
      - checkout
      - run: docker login -u="${DOCKER_REGISTRY_USERNAME}" -p="${DOCKER_REGISTRY_PASSWORD}"
      - run: make ci:diff
      - run:
          name: install hub-tool
          command: |
            sudo apt-get update
            sudo apt-get install -y expect

            curl -OL https://github.com/docker/hub-tool/releases/download/v0.4.3/hub-tool-linux-amd64.tar.gz
            tar xvf hub-tool-linux-amd64.tar.gz
            sudo mv ./hub-tool/hub-tool /usr/local/bin

            expect -c "
            set timeout 5
            spawn env hub-tool login ${DOCKER_REGISTRY_USERNAME}
            expect \"Password:\"
            send \"${DOCKER_REGISTRY_PASSWORD}\n\"
            expect \"$\"
            exit 0
            "

            hub-tool version

      - run:
          name: update manifest
          command: |
            make ci:diff
            make ci:diff | while read DIR; do
              if [ -e "$CIRCLECI_WORKSPACE/$DIR/Dockerfile.arm64" ] && [ -e "$CIRCLECI_WORKSPACE/$DIR/Dockerfile" ] && [ ! -L "$CIRCLECI_WORKSPACE/$DIR/Dockerfile.arm64" ]; then
                cd ${CIRCLECI_WORKSPACE}/${DIR};
                make build;
                make manifest:push;
              else
                echo "skip manifest job"
              fi
            done
      - run:
          name: notification failed
          command: |
            make ci:notify -e TITLE="CircleCI: Failed manifest (devil)" \
                                                  -e BODY="$(git log -1 --pretty=format:"%h - %an : %s" ${CIRCLE_BRANCH})";
          when: on_fail
      - run:
          name: notification success
          command: |
            make ci:diff | while read DIR; do
              if [ -e "$CIRCLECI_WORKSPACE/$DIR/Dockerfile.arm64" ] && [ -e "$CIRCLECI_WORKSPACE/$DIR/Dockerfile" ] && [ ! -L "$CIRCLECI_WORKSPACE/$DIR/Dockerfile.arm64" ]; then
                version=$(docker inspect -f {{.Config.Labels.version}} chatwork/${DIR});
                make ci:notify -e TITLE="manifest succeeded chatwork/${DIR}:${version} (gogo)" \
                                                                -e BODY="$(make manifest:succeed-message -f ${CIRCLECI_WORKSPACE}/${DIR}/Makefile)";
              fi
            done
          when: on_success

  mod:
    docker:
      - image: variantdev/mod:v0.25.1
    environment:
      - CIRCLECI_WORKSPACE: /root/project
    steps:
      - checkout
      - run:
          name: Docker login
          command: |
            mkdir -p ${HOME}/.docker
            cat \<<EOS > ${HOME}/.docker/config.json
            {
                "auths": {
                    "https://index.docker.io/v1/": {
                        "auth": "$(echo -n "${DOCKER_REGISTRY_USERNAME}:${DOCKER_REGISTRY_PASSWORD}" | base64)",
                        "email": "server_admin+cw-circleci@chatwork.com"
                    }
                }
            }
            EOS
      - run:
          name: Update dependencies
          command: |
            git config --global user.email "server_admin+cw-circleci@chatwork.com"
            git config --global user.name "CircleCI"
            ls */variant.mod | xargs -I{} dirname {} | xargs -I{} /bin/bash -c 'cd {} && mod up --build  --pull-request --base master --branch 'mod-up-{}' --title "[{}] update" --skip-on-duplicate-pull-request-title'
      - run:
          name: Notification failed
          command: |
            TITLE="CircleCI: Failed update dependencies (devil)"
            BODY="Check the error from the following URL."
            curl -sS -X POST -H "X-ChatWorkToken: ${CHATWORK_API_TOKEN}" \
              "https://api.chatwork.com/v2/rooms/${CHATWORK_NOTIFICATION_ROOM_ID}/messages" \
                --data-urlencode "body=[info][title]${TITLE}[/title]${BODY}[hr]${CIRCLE_BUILD_URL}[/info]"
          when: on_fail
workflows:
  version: 2
  integration:
    jobs:
      - test:
          context: "chatwork_api_token@circleci"
          # see https://circleci.com/docs/2.0/configuration-reference/#matrix-requires-version-21
          matrix:
            parameters:
              arch: [ x86_64, arm64 ]
      - push:
          context: "chatwork_api_token@circleci"
          requires:
            - test
          filters:
            branches:
              only: master
          matrix:
            parameters:
              arch: [ x86_64, arm64 ]
      - manifest:
          context: "chatwork_api_token@circleci"
          requires:
            - test
            - push
          filters:
            branches:
              only: master

  update_dependecies:
    jobs:
      - mod:
          context: "chatwork_api_token@circleci"
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - master
