name: Clean up mod branches

on:
  schedule:
    - cron: '16 21 * * *' # 6:16(JST)
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    permissions:
      contents: write

    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Clean up mod branches
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for branch in $(git branch -a | grep "remotes/origin/mod-up-*" | cut -d '/' -f3)
          do
            echo $branch
            git push --delete origin $branch
          done
